.snapTo {
  top: 75px;
  left: 88%;
  width: auto;
  margin-right: auto;
  position: absolute;
  z-index: 1000;
  display: none;  
}

.screen {

  border: thin solid black;
  background-color: #E8E8E8;

  padding-bottom: 2%;
  margin-bottom: 5%;
  padding-top: 2%;
  overflow: auto;
}

.note {
  width: 100%;
  height: 100%;
}

.grid {
    background-color: #EF2D29;
}
