.snapTo {
  top: 87%;
  left: 91%;
  width: auto;
  display: inline-block;
  margin-right: auto;
}

.screen {

  border: thin solid black;
  background-color: #E8E8E8;

  padding-bottom: 2%;
  margin-bottom: 5%;
  padding-top: 2%;
  overflow: auto;
}

.note {
  width: 100%;
  height: 100%;
}

.grid {
    background-color: #EF2D29;
}



.ClipboardBlocking {
  display: inline-block;
}
