
.hideThis {
  display: none;
}


@media (max-width: 799px) {
  .snapTo {
    display: none;
  }


  .trashcan {
    display: none;
  }

  .ClipboardBlocking {
    display: none;
  }
}
//
// .ClipboardBlocking {
//   display: none;
// }


.mobileListItem {
  list-style-type: none;
  border-bottom: 1px dashed black;
  padding-left: 0;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
  margin-right: 5%;
  float: right;



}

.mobileNoteContent {
  word-wrap: break-word;
  text-align: left;
  padding-right: 0;
  width: 80%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.noteBlock {
  display: inline-block;
  width: 20%;
  margin-top: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}



 @media (min-width: 800px)
  {
    .snapTo {
      display: inline-block;

    }
  }
