$green: #86BB71;
$blue: #94C2ED;
$bright-green: #0AD5C1;
$bgd-color: linear-gradient(-45deg, #183850 0, #183850 25%, #183850  50%, #192C46  75%, #192C46  100%);
//  #183850 0, #183850 25%, #192C46 50%, #22254C 75%, #22254C 100%
.board-page-container {
  position: relative;
}

.note-details-close-btn {
  position: absolute;
  top: 0.1%;
  right: 2%;
  padding: 0;
  background-color: #183850;
  border-radius: 50%;
  color: white;
  border: 0;
  font-size: 1.8em;
  z-index:999;
}

.note-details-container {
  position: fixed;
  top: 10%;
  left: 3%;
  width: 94vw;
  // height: 80vh;
  font-family: "Open Sans", sans-serif;
  padding: 2em;
  margin: 0.5em auto;
  border-radius: 10px;
  background:$bgd-color;
  border: 0;
  z-index: 9999;
  box-shadow: 0 0 1px rgba(76,86,103,.25), 0 2px 18px rgba(31,37,50,.32);
}

.note-details-note {
  padding: 1em 1.5em;
  height: 20vh;
  width: 100%;
  margin: 0 auto;
  border-radius: 7px;
  word-wrap: break-word;
  font-family: $comfortaa;
}

.comment-form {
  margin-top: 0.5em;
}

.comment-input-container {
  width: 100%;
  height: 3em;
  margin: 0;

}

.comment-text-area {
  margin: 0;
  padding: 0.2em;
  width: 80%;
  height: 100%;
  margin-right: 2%;
  font-size: 1em;
  border-radius: 5px;
  border: 2px solid $bright-green;
  background-color: rgba(255,255,255, 0);
  text-align: center;
  color: white;
  &:focus {
    outline: none;
  }

}

.comment-text-area::placeholder{
  color: white;
}

.comment-submit-button {
  margin: 0;
  padding: 0;
  height: 100%;
  font-weight: 700;
  border-radius: 2px;
  width: 16%;
  border: none;
  padding: 0;
  border: 2px solid $bright-green;
  background-color: rgba(255,255,255, 0);
  color: white;
    span {
      font-size: 1em;
    }
}

.note-details-comments {
  overflow: hidden;

  .inner {
    height:45vh;
    overflow:auto;
    margin:0.3em -3rem 0.3em 0.3em;
    padding-right: 3.3rem;
  }
}

.note-details-comment {
  padding: 0.7em 0.9em;
  line-height: 1.5em;
  font-size: 1em;
  border-radius: 7px;
  margin-top: 1em;
  margin-bottom: 0;
  width: 100%;
  position: relative;

      &:after {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-width: 10px;
        margin-left: -10px;
      }
}

.note-details-comment:nth-child(odd){
      background-color: rgba(25, 147, 147, 0.1);
      text-align: right;
      &:after {
        border-bottom-color: rgba(25, 147, 147, 0.1);
        left: 93%;
      }
      color: #0AD5C1;
}

.note-details-comment:nth-child(even) {
    background-color: rgba(25, 147, 147, 0.1);
    text-align: left;
    &:after {
      border-bottom-color: rgba(25, 147, 147, 0.1);
      left: 7%;
    }
    color: #0EC879;
}



.noteDetailSlideIn-appear {
  left: -50%;
}

.noteDetailSlideIn-appear.noteDetailSlideIn-appear-active {
  left: 2%;
  transition: left .5s cubic-bezier(0.31, 0.77, 0.21, 0.99);
}


@media screen and (min-device-width: 1024px) {

.note-details-container {
  // position: absolute;
  top: 7%;
  width: 40vw;
  height: 90vh;
  left: 1%;
  margin: 0;
}

.noteDetailSlideIn-appear {
  left: -50%;
}

.noteDetailSlideIn-appear.noteDetailSlideIn-appear-active {
  left: 1%;
  transition: left .5s cubic-bezier(0.31, 0.77, 0.21, 0.99);
}

.note-details-comments {
  .inner {
    height:55vh;
  }
}





}
