.c-note {
  display: block;
  background: rgb(237, 208, 13);
  padding-top: 100%;
}
.c-note--focused {
  box-shadow: 0.1em 0.1em 1em 0 darken($yellow, 20);
}

.c-note__inner {
  display: block;
  position: absolute;
  width: calc(100% - 2em);
  top: 1em;
  right: 1em;
  bottom: 1vw;
  left: 1em;
  overflow: hidden;
  border-bottom: solid transparent;


}

.c-note__content {
  display: block;
  font-size: inherit;
  word-wrap: break-word;
  font-family: $note-body;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;

}

.c-note__input {
  position: absolute;
  left: -200vw;
  top: -200vh;
}

.top {z-index: 2; position: relative}

.bottom {z-index: 1; position: relative}
